<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>
    <meta charset="utf-8">
    <title>分页&CRUD</title>
</head>-->
<head th:replace="common/common_header :: common_header(~{::title},~{::link},~{})">
    <title>分页&CRUD</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>


<p th:text="${session.name}"></p>
<div id="ajaxTest">
</div>
<div>
    <a id="pre">上一页</a>
    <a id="next">下一页</a>
    每页数量<input id="perPages" name="perPages" type="text" value="5">
</div>

<table id="test_table" data-click-to-select="true">
</table>

<div id="mask">

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    编辑信息
                </h4>
            </div>
            <div class="modal-body">
                <div id="qnameinfo">
                    <div>
                        <span>name:</span><input id="dialog_name" style="margin-left:39px;"><br>
                    </div>
                    <div style="margin-top:15px;">
                        <span>password:</span><input id="dialog_pwd" style="margin-left:15px;">
                    </div>
                    <input id="dialog_id" style="display:none;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="updateBtn" >
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<div th:replace="common/common_footer :: foot"></div>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*
    * Bootstrap-table
    */
    $("#test_table").bootstrapTable({
        //url: '/getInfoAjax', // 客户端分页
        url: '/getInfoPage',
        method: "get",
        dateType: 'json',
        dataField: 'data',
        contentType : "application/x-www-form-urlencoded", // 如果是post必须定义
        toolbar: "#toolbar",
        striped: true, // 是否显示行间隔色
        cache: false, // 是否使用缓存，默认true
        silent : true, // 必须设置刷新事件
        pagination: true,
        sortable: true, // 是否启用排序
        sortOrder: "asc",
        queryParams: queryParams, // 传递参数,请求参数，这个关系到后续用到的异步刷新
        responseHandler:responseHandler, // 如果不加这句，后台虽然正常返回数据，但是回提示没有匹配到数据
        // sidePagination: "client", // 分页方式：client（客户端分页），server（服务端分页）
        sidePagination: "server", // 分页方式：client（客户端分页），server（服务端分页）
        pageNumber: 1,
        pageSize: 5,
        pageList: [5, 10, 25, 50], // 可供选择的每页显示数量
        search: true, // 是否显示表格搜索框，客户端搜索
        strictSearch: true,
        showColumns: true, // 是否显示所有列
        showRefresh: true,
        minimunCountColumns: 1, // 最好允许列数量
        clickToSelect: true, // 是否允许点击选中行
        height: 350, // 行高，若未设置，表格根据内容自动计算
        uniquedId: "Id", // 每一行的唯一标识，一般为主键列
        showToggle: true, // 是否显示详细视图和列表视图的切换按钮
        cardView: false, // 是否显示详细视图
        detailView: false, // 是否显示父子表
        columns: [
            {
                checkbox: true,
                align: "center",
                valign: "middle",
                width: "2%",
            },
            {
                field: "num",
                title: "序号",
                align: "center",
                valign: "middle",
                width: "2%",
                formatter: function (value, row, index) {

                    //return index + 1; // 客户端方式分页 序号自动增加，不会出现翻页过后序号从1开始的现象

                    // 服务器端分页，序号自动增加 方式
                    var pageSize = $("#test_table").bootstrapTable("getOptions").pageSize;
                    var pageNumber = $("#test_table").bootstrapTable("getOptions").pageNumber;
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            },
            {
                field: "id",
                title: "ID",
                align: "center",
                valign: "middle",
                width: "24%",
            },
            {
                field: "name",
                title: "Name",
                align: "center",
                valign: "middle",
                width: "24%",
            },
            {
                field: "pwd",
                title: "Password",
                align: "center",
                valign: "middle",
                width: "24%",
            },
            {
                field: "id",
                title: "操作",
                width: 120,
                align: "center",
                valign: "middle",
                width: "24%",
                formatter: actionFormatter,
                // events: operateEvents
            }
        ],
        onDblClickRow: function(row, $elememt) {
            var id = row.id;
            editById();
            console.log(id);
        },
        onLoadError: function(){  //加载失败时执行
            layer.msg("加载数据失败", {time : 1500, icon : 2});
        },
    });

    var currentPage = 1; //当前页数
    var perPage = $("#perPages").val(); // 每页展示数量

    // 服务器分页
    function queryParams(params) {
        console.log("start");
        return {
            currentPage: params.offset/params.limit+1,
            perPage: params.limit
        }
    }
    //请求成功方法
    function responseHandler(result){
        //如果没有错误则返回数据，渲染表格
        console.log("suc");
        return {
            total : result.total, //总页数,前面的key必须为"total"
            data : result.stuPage, //行数据，前面的key要与之前设置的dataField的值一致.
        };

    };
    //刷新表格数据,点击你的按钮调用这个方法就可以刷新
    function refresh() {
        $('#test_table').bootstrapTable('refresh', {url: "/getInfoPage"});
    }


    // 操作栏的格式化
    function actionFormatter(value, row, index) {
        var id = value;
        var result = "";
        result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"editByName()\" title='查看'><span class='glyphicon glyphicon-eye-open'></span></a>";
        result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"editByName()\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
        result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"delByName()\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
        return result;
    }
    
    function showEditDialog() {
        var oheight = $("body").height();
        var owidth = $("body").width();

    }
    function showByName() {
        console.log("show");
    }
    function editByName() {
       // $("#test_table").bootstrapTable('getSelections');
        //使用getSelections即可获得，row是json格式的数据
        var tname;
        var getSelectRows = $("#test_table").bootstrapTable('getSelections');
        if (getSelectRows.length > 0) {
            tname = getSelectRows[0].name;
            $.ajax({
             url: "/QueryByName",
             data: {
                name: tname,
             },
             type: "GET",
             dataType: "json",
             success: function (data) {
                 var str = "";
                 var rname;
                 var rpwd;
                 var rid;
                 if(data.length > 0){
                     for(var k in data) {
                         rname = data[k].name;
                         rpwd = data[k].pwd;
                         rid = data[0].id;
                     }
                        $("#dialog_name").val(rname);
                        $("#dialog_pwd").val(rpwd);
                        $("#dialog_id").val(rid);
                        $('#myModal').modal('show');
                     }
                 else{
                    alert("用户不存在");
                 }
             },
             error: function (err) {
                 console.log(err.error);
             }
             });
        } else {
            alert("请选择需要编辑的数据");
        }
    }
    // 删除
    function delByName() {
        var dname;
        var getSelectRows = $("#test_table").bootstrapTable('getSelections');
        if (getSelectRows.length > 0) {
            dname = getSelectRows[0].name;
            var checkConfirm = confirm("是否删除该条数据");
            if (checkConfirm == true) {
                $.ajax({
                    url: "/DelByName",
                    data: {
                        name: dname,
                    },
                    type: "GET",
                    dataType: "text",
                    success: function (data) {
                        if (data == 1) {
                            alert("删除成功");
                            $("#test_table").bootstrapTable('refresh');
                        } else {
                            alert("用户不存在，删除失败");
                        }
                    },
                    error: function (error) {
                        alert("删除异常");
                    }
                });
            } else {
                alert("删除操作取消");
            }
        } else {
            alert("请选择需要删除的数据");
        }
    }


    $("#updateBtn").click(function(){
        updateInfo();
    });


    // 编辑信息
    function updateInfo() {
        var postName = $("#dialog_name").val();
        var postPwd = $("#dialog_pwd").val();
        var postid = $("#dialog_id").val();
        $.ajax({
            url: "/UpdataById",
            data: {
                name: postName,
                pwd: postPwd,
                id: postid,
            },
            type: "POST",
            dataType: "text",
            success: function (data) {
                if (data == 1) {
                    alert("更新成功");
                    $('#myModal').modal('hide');
                    $("#test_table").bootstrapTable('refresh');
                }
            },
            error: function (e) {
                console.log(e.error);
            },
        });
    }

























    /*var currentPage = 1; //当前页数
    var perPage = $("#perPages").val(); // 每页展示数量*/
    ajaxGetInfo();
    function ajaxGetInfo() {
       var perPage = $("#perPages").val(); // 每页展示数量
        // console.log("ajax"+currentPage);

        $.ajax({
            url: "/getInfoPage",
            data: {
                currentPage: currentPage,
                perPage: perPage
            },
            type: "GET",
            dataType: "json",
            beforeSend:function () {
                // 用于在向服务器发送请求前执行一些动作,eg.防止用户重复提交数据,模拟Toast效果(ajax请求服务器加载数据列表时提示loading(“加载中，请稍后...”))
            },
            success: function (data) {
                console.log(data);
                //console.log(data.pages);
                //console.log(data.stuPage);
                var s1 = data.stuPage;
                var str = "";
                if(s1.length > 0){
                    for(var k in s1) {
                       str += "<tr><td>" +  s1[k].id + "</td><td>" + s1[k].name + "</td><td>" + s1[k].pwd + "</td></tr>";
                    }
                    $("#ajaxTest").append(str);
                }
                else{
                    alert("已经是最后一页了");
                }
            },
            error: function (err) {
                console.log(err);
            },
            complete:function () {
                //
            }
        });
    }
    // 上一页
    $("#pre").click(function () {
        $("#ajaxTest").text("");
        currentPage -= 1;
       // console.log("if out"+currentPage);
        if(currentPage < 1){
            currentPage = 1;
           // console.log("if in"+currentPage);
            alert("已经是首页了");
        }
        ajaxGetInfo();
    });
    // 下一页
    $("#next").click(function () {
        $("#ajaxTest").text("");
        currentPage +=1;
        var perPage = $("#perPages").val(); // 每页展示数量
       // console.log("下一页ajax"+currentPage);
        var bf;

        $.ajax({
            url: "/getInfoPage",
            data: {
                currentPage: currentPage,
                perPage: perPage
            },
            type: "GET",
            dataType: "json",
            beforeSend: function () {
                
            },
            success: function (data) {
                //console.log(data);
                //console.log(data.pages);
                //console.log(data.stuPage);
                //console.log("网页页数"+currentPage);
                // console.log("后台传来的页数"+data.pages);
                var s1 = data.stuPage;
                // console.log("s1.length"+s1.length);
                var str = "";
                if(s1.length > 0){
                    //currentPage = data.pages;
                    for(var k in s1) {
                        str += "<tr><td>" +  s1[k].id + "</td><td>" + s1[k].name + "</td><td>" + s1[k].pwd + "</td></tr>";
                    }
                    $("#ajaxTest").append(str);
                }
                else{
                    currentPage = data.pages;
                    console.log("超过总页数"+currentPage);
                    alert("已经是最后一页了");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    /*]]>*/
</script>


</body>
</html>